.icon-table i {
    font-size: 30px;
    line-height: 1;
}

.mdi-close-box {
    font-size: 20px;
    line-height: 1;
}

#skillPrint {
    font-size: 30px;
    line-height: 1px;
}

.print-img img {
    width: 300px;
}

img {
    width: 300px;
}