{% extends 'front/front.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
	<div class="intro">
		<h1 class="intro-name">Axel Renault</h1>

		<div class="intro-description">
			<p>Ad culpa minim qui
				<span>ipsum labore excepteur</span>
				consectetur. Labore aliqua nisi eiusmod irure magna pariatur ipsum elit pariatur culpa qui. Sint dolore sint consectetur elit. Laboris aliquip quis dolor enim anim minim. Occaecat incididunt culpa sunt fugiat sint Lorem duis amet. Enim ex mollit pariatur nulla sint id cillum minim Lorem veniam occaecat qui ea.</p>
		</div>

		<div class="intro-main-socialnetworks">
			<ul class="intro-social-networks-menu">
				<li>
					<a href="https://www.linkedin.com/in/axel-rnlt-5b6943171/" target="_blank">Linkedin</a>
				</li>
				<li>
					<a href="https://twitter.com/rnlt_axel" target="_blank">Twitter</a>
				</li>
				<li>
					<a href="https://instagram.com/axelrnlt" target="_blank">Instagram</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="fond"></div>
{% endblock %}
